@model AkayouSite.Areas.Cadastro.Models.CadastroIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Cadastro/Views/Shared/_Master.cshtml";
}

@section Css {
    nav {
        height: 59px;
        width: 613px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 38px;
    }
    nav .menuitem {
        display: block;
        float: left;
        margin-left: 8px;
        margin-right: 8px;
        cursor: pointer;
    }
    .logo-akayou {
        margin-bottom: 22px;
    }
    .col {
        float: left;
        width: 305px;
        height: 240px;
        margin-left: 16px;
        margin-right: 16px;
    }
    .col.esq {
        margin-left: 98px;
    }
    .col.dir {
        margin-left: 16px;
    }
    .field {
        display: block;
        height: 80px;
    }
    .field label {
        display: block;
    }
    form.cadastro {
        height: 240px;
    }
    form.cadastro input[type=text] {
        width: 298px;
    }
    .pagina {
        display: none;
    }
    .nav2 {
        width: 630px;
        margin-left: auto;
        margin-right: auto;
        height: 90px;
    }
    .nav2 .left {
        float: left;
    }
    .nav2 .right {
        float: right;
    }
    .nav2 .voltar {
        cursor: pointer;
    }
    .nav2 .avancar {
        cursor: pointer;
    }
    .msg.termos {
        top: 50px;
        left: 356px;
    }
    .msg.termos .box {
        height: 428px;
    }
    .msg.termos .box .scroller {
        height: 300px;
        margin-bottom: 25px;
    }
    .msg.termos .aceito {
        float: left;
    }
    .msg.termos .fechar {
        float: right;
    }
    .msg.cadastrado {
        left: 356px;
        top: 140px;
    }
    .msg.cadastrado p.p1 {
        text-align: center;
        font-weight: bold;
        line-height: 20px;
        height: 100px;
    }
    .msg.cadastrado .pagamento {
        display: block;
        width: 231px;
        margin-left: auto;
        margin-right: auto;
    }
    .pagina.seguranca p {
        margin-left: 100px;
        font-size: 12pt;
    }
    .pagina.seguranca #seuLogin {
        font-size: 16pt;
    }
    .pagina.seguranca #suaSenha {
        font-size: 16pt;
    }
    .pagina.seguranca a.alterarSenha {
        font-size: 10pt;
    }
}

@section Script {
    $(document).ready(function() {
        // preload
        $('.menuitem').each(function() {
            var img = '/Content/Images/precad-menu-' + $(this).attr('item') + 'on.png';
            $('<img />')[0].src = img;
        });
        
        // hover
        $('.menuitem').hover(
            function() {$(this).children('img').attr('src', '/Content/Images/precad-menu-' + $(this).attr('item') + '-on.png');}, 
            function() {if ($(this).attr('item') == $('.pagina:visible').attr('item')) return; $(this).children('img').attr('src', '/Content/Images/precad-menu-' + $(this).attr('item') + '-off.png');}
        );

        // telas
        $('.menuitem').click(function() {
            var finalizar = $(this).attr('item') == 'seguranca';
            var that = $(this);
            persiste(finalizar)
                .done(function(data) {
                    //console.log(data);
                    if (finalizar) {
                        if (!data.ok) {
                            alert('Erro: ' + data.resultado);
                            return;
                        }
                        if (data.criado) 
                            showBox('.msg.cadastrado');
                    };

                    $('.pagina').hide();

                    // infos da última página
                    if (that.attr('item') == 'seguranca') {
                        $('.pagina.seguranca #seuLogin').text(data.login);
                        $('.pagina.seguranca #suaSenha').text(data.senha);
                    }

                    $('.nav2 .voltar, .nav2 .avancar').show();
                    if (that.attr('item') == 'informacoes-pessoais') $('.nav2 .voltar').hide();
                    else if (that.attr('item') == 'seguranca') $('.nav2 .avancar').hide();

                    $('.pagina.' + that.attr('item')).fadeIn('fast', function() {
                        $('.pagina:visible .field input:first').focus();
                    });
            
                    $('.menuitem').mouseleave();
                    $('.menuitem[item=' + that.attr('item') + ']').mouseenter();
                });
        });
        $('.menuitem:first').click();
        
        $('.nav2 .voltar').click(function() {
            var aberta = $('.pagina:visible');
            if (aberta.hasClass('informacoes-pessoais')) return;
            else if (aberta.hasClass('endereco')) $('.menuitem[item=informacoes-pessoais]').click();
            else if (aberta.hasClass('informacoes-contato')) $('.menuitem[item=endereco]').click();
            else if (aberta.hasClass('seguranca')) $('.menuitem[item=informacoes-contato]').click();
        });
        $('.nav2 .avancar').click(function() {
            var aberta = $('.pagina:visible');
            if (aberta.hasClass('seguranca')) return;
            else if (aberta.hasClass('informacoes-contato')) $('.menuitem[item=seguranca]').click();
            else if (aberta.hasClass('endereco')) $('.menuitem[item=informacoes-contato]').click();
            else if (aberta.hasClass('informacoes-pessoais')) $('.menuitem[item=endereco]').click();
        });

        // se iniciando, mostra termos de uso
        $('body').on('click', '#termosFechar', function() {
            clearBox('.msg.termos');
        });

        @if (Model.CadastroGuid != null && Model.Iniciando) {
            <text>
            showBox('.msg.termos');
            //showBox('.msg.cadastrado');
            </text>
        }
    });

    var persiste = function(finalizar) {
        return $.ajax({
            url: '/Cadastro/Cadastro/Persiste', 
            type: 'post', 
            data: {
                finalizar: finalizar, 
                cadastroGuid: $('#cadastroGuid').val(), 
                upline: $('#upline').val(), 
                nome: $('#nome').val(), 
                sobrenome: $('#sobrenome').val(), 
                cpf: $('#cpf').val(), 
                rg: $('#rg').val(), 
                pisPasep: $('#pisPasep').val(), 
                dataNascimento: $('#dataNascimento').val(), 
                cep: $('#cep').val(), 
                endereco: $('#endereco').val(), 
                bairro: $('#bairro').val(), 
                complemento: $('#complemento').val(), 
                cidade: $('#cidade').val(), 
                telCelular: $('#telCelular').val(), 
                telResidencial: $('#telResidencial').val(), 
                telComercial: $('#telComercial').val(), 
                email: $('#email').val()
            }
        });
    };
}

<nav>
    <span class="menuitem" item="informacoes-pessoais"><img src="/Content/Images/precad-menu-informacoes-pessoais-off.png" /></span>
    <span class="menuitem" item="endereco"><img src="/Content/Images/precad-menu-endereco-off.png" /></span>
    <span class="menuitem" item="informacoes-contato"><img src="/Content/Images/precad-menu-informacoes-contato-off.png" /></span>
    <span class="menuitem" item="seguranca"><img src="/Content/Images/precad-menu-seguranca-off.png" /></span>
</nav>

<form class="cadastro">
<input id="cadastroGuid" type="hidden" value="@Model.CadastroGuid" />
<input id="upline" type="hidden" value="@(Model.Upline.HasValue ? Model.Upline.Value.ToString() : "")" />
<div class="pagina informacoes-pessoais" item="informacoes-pessoais">
    <div class="col esq">
        <span class="field"><label for="nome">Nome*</label><input id="nome" type="text" value="@(Model.Cadastro != null ? Model.Cadastro.Nome : "")" /></span>
        <span class="field"><label for="cpf">CPF*</label><input id="cpf" type="text" value="@(Model.Cadastro != null ? Model.Cadastro.Cpf : "")" /></span>
        <span class="field"><label for="pispasep">PIS/PASEP*</label><input id="pisPasep" type="text" value="@(Model.Cadastro != null ? Model.Cadastro.PisPasep : "")" /></span>
    </div>

    <div class="col dir">
        <span class="field"><label for="sobrenome">Sobrenome*</label><input id="sobrenome" type="text" value="@(Model.Cadastro != null ? Model.Cadastro.Sobrenome : "")" /></span>
        <span class="field"><label for="rg">RG*</label><input id="rg" type="text" value="@(Model.Cadastro != null ? Model.Cadastro.Rg : "")" /></span>
        <span class="field"><label for="datanascimento">Data de Nascimento (dd/mm/aaaa)*</label><input id="dataNascimento" type="text" value="@(Model.Cadastro != null && Model.Cadastro.DataNascimento.HasValue ? Model.Cadastro.DataNascimento.Value.ToString("dd/MM/yyyy") : "")" /></span>
    </div>
</div>
<div class="pagina endereco" item="endereco">
    <div class="col esq">
        <span class="field"><label for="cep">CEP*</label><input id="cep" type="text" value="@(Model.Cadastro != null ? Model.Cadastro.Cep : "")" /></span>
        <span class="field"><label for="bairro">Bairro*</label><input id="bairro" type="text" value="@(Model.Cadastro != null ? Model.Cadastro.Bairro : "")" /></span>
        <span class="field"><label for="cidade">Cidade*</label><input id="cidade" type="text" value="@(Model.Cadastro != null ? Model.Cadastro.Cidade : "")" /></span>
    </div>

    <div class="col dir">
        <span class="field"><label for="endereco">Endereço*</label><input id="endereco" type="text" value="@(Model.Cadastro != null ? Model.Cadastro.Endereco : "")" /></span>
        <span class="field"><label for="complemento">Complemento*</label><input id="complemento" type="text" value="@(Model.Cadastro != null ? Model.Cadastro.Complemento : "")" /></span>
    </div>
</div>
<div class="pagina informacoes-contato" item="informacoes-contato">
    <div class="col esq">
        <span class="field"><label for="telCelular">Celular*</label><input id="telCelular" type="text" value="@(Model.Cadastro != null ? Model.Cadastro.TelCelular : "")" /></span>
        <span class="field"><label for="telComercial">Telefone Trabalho*</label><input id="telComercial" type="text" value="@(Model.Cadastro != null ? Model.Cadastro.TelComercial : "")" /></span>
        <span class="field"><label for="email">E-mail*</label><input id="email" type="text" value="@(Model.Cadastro != null ? Model.Cadastro.Email : "")" /></span>
    </div>

    <div class="col dir">
        <span class="field"><label for="telResidencial">Telefone Residencial*</label><input id="telResidencial" type="text" value="@(Model.Cadastro != null ? Model.Cadastro.TelResidencial : "")" /></span>
        <span class="field"><label for="emailConfirmar">Confirmar E-mail*</label><input id="emailConfirmar" type="text" value="@(Model.Cadastro != null ? Model.Cadastro.Email : "")" /></span>
    </div>
</div>
<div class="pagina seguranca" item="seguranca">
    <p>Seu login é:<br />
    <span id="seuLogin"></span></p>
    <p>Sua senha é:<br />
    <span id="suaSenha"></span><br />
    <a class="alterarSenha" href="">Alterar a senha</a></p>
</div>
</form>

<div class="nav2">
    <span class="left"><img class="voltar" src="/Content/Images/precad-nav-voltar.png" /></span>
    <span class="right"><img class="avancar" src="/Content/Images/precad-nav-avancar.png" /></span>
</div>

<div class="sep1"><img src="/Content/Images/precad-sep-1.png" /></div>

<div class="msg termos">
    <div class="box">
        <div class="tit"><img src="/Content/Images/precad-msg-termos.png" /></div>
        <hr />
        <div class="scroller">
            <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>

            <h3>Seção 1.10.32 de "de Finibus Bonorum et Malorum", escrita por Cícero em 45 AC</h3>

            <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>

            <h3>Tradução para o inglês por H. Rackha, feita em 1914</h3>

            <p>"But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"</p>

            <h3>Seção 1.10.33 de "de Finibus Bonorum et Malorum", escrita por Cícero em 45 AC</h3>

            <p>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."</p>
        </div>
        <span class="aceito"><input id="aceitoCheck" type="checkbox" />Li e aceito os termos e condições de uso</span>
        <span class="fechar"><img id="termosFechar" src="/Content/Images/precad-modal-fechar-on.png" /></span>
    </div>
</div>

<div class="msg cadastrado">
    <div class="box">
        <div class="tit"><img src="/Content/Images/precad-msg-cadastrado-parabens.png" /></div>
        <p class="p1">
            O cadastro do patrocinado com efetuado com sucesso.<br />
            Para finalizar clique no botão abaixo para ser redirecionado 
            para a página de pagamento da Acathus. Após o pagamento validado, 
            enviaremos um e-mail para o seu patrocinado com o ID dele.
        </p>
        <span class="pagamento"><a href="/Cadastro/Pagamento"><img src="/Content/Images/precad-msg-cadastrado-pagamento.png" /></a></span>
    </div>
</div>