@model AkayouSite.Areas.Cadastro.Models.CadastroIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Cadastro/Views/Shared/_Master.cshtml";
}

@section Css {
    nav {
        height: 59px;
        width: 613px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 38px;
    }
    nav .menuitem {
        display: block;
        float: left;
        margin-left: 8px;
        margin-right: 8px;
        cursor: pointer;
    }
    .logo-akayou {
        margin-bottom: 22px;
    }
    .col {
        float: left;
        width: 305px;
        height: 240px;
        margin-left: 16px;
        margin-right: 16px;
    }
    .col.esq {
        margin-left: 98px;
    }
    .col.dir {
        margin-left: 16px;
    }
    .field {
        display: block;
        height: 80px;
    }
    .field label {
        display: block;
    }
    form.cadastro {
        height: 224px;
    }
    form.cadastro input[type=text] {
        width: 298px;
    }
    .pagina {
        display: none;
    }
    .nav2 {
        width: 630px;
        margin-left: auto;
        margin-right: auto;
        height: 90px;
    }
    .nav2 .left {
        float: left;
    }
    .nav2 .right {
        float: right;
    }
    .nav2 .voltar {
        cursor: pointer;
    }
    .nav2 .avancar {
        cursor: pointer;
    }
    .msg.cadastrado {
        left: 356px;
        top: 140px;
    }
    .msg.cadastrado p.p1 {
        text-align: center;
        font-weight: bold;
        line-height: 20px;
        height: 100px;
    }
    .msg.cadastrado .pagamento {
        display: block;
        width: 231px;
        margin-left: auto;
        margin-right: auto;
    }
    .pagina.seguranca p {
        margin-left: 100px;
        font-size: 12pt;
    }
    .pagina.seguranca #seuLogin {
        font-size: 16pt;
    }
    .pagina.seguranca #suaSenha {
        font-size: 16pt;
    }
    .pagina.seguranca a.alterarSenha {
        font-size: 10pt;
        cursor: pointer;
    }
    .msg.alterarSenha {
        width: 502px;
    }
    .msg.alterarSenha .bl {
        height: 70px;
    }
    .msg.alterarSenha label {
        display: block;
        margin-top: 10px;
        height: 18px;
        font-weight: bold;
        font-size: 9pt;
    }
    .msg.alterarSenha input {
        width: 387px;
    }
    .msg.alterarSenha .action {
        float: right;
    }
    .msg.alterarSenha .box {
        height: 292px;
    }
    .msg.alterarSenha {
        left: 425px;
        top: 140px;
    }
}

@section Script {
    $(document).ready(function() {
        // preload
        $('.menuitem').each(function() {
            var img = '/Content/Images/precad-menu-' + $(this).attr('item') + 'on.png';
            $('<img />')[0].src = img;
        });
        
        // hover
        $('.menuitem').hover(
            function() {$(this).children('img').attr('src', '/Content/Images/precad-menu-' + $(this).attr('item') + '-on.png');}, 
            function() {if ($(this).attr('item') == $('.pagina:visible').attr('item')) return; $(this).children('img').attr('src', '/Content/Images/precad-menu-' + $(this).attr('item') + '-off.png');}
        );

        // telas
        $('.menuitem').click(function() {
            var finalizar = $(this).attr('item') == 'seguranca';
            var that = $(this);
            persiste(finalizar)
                .done(function(data) {
                    //console.log(data);
                    if (finalizar) {
                        if (!data.ok) {
                            if (data.resultado == 'INFORMACAO_INSUFICIENTE') return;

                            alert('Erro: ' + data.resultado);
                            return;
                        }
                        if (data.criado) 
                            showBox('.msg.cadastrado');
                    };

                    $('.pagina').hide();

                    // infos da última página
                    if (that.attr('item') == 'seguranca') {
                        $('.pagina.seguranca #seuLogin').text(data.login);
                        $('.pagina.seguranca #suaSenha').text(data.senha);
                    }

                    $('.nav2 .voltar, .nav2 .avancar').show();
                    if (that.attr('item') == 'informacoes-pessoais') $('.nav2 .voltar').hide();
                    else if (that.attr('item') == 'seguranca') $('.nav2 .avancar').hide();

                    $('.pagina.' + that.attr('item')).fadeIn('fast', function() {
                        $('.pagina:visible .field input:first').focus();
                    });
            
                    $('.menuitem').mouseleave();
                    $('.menuitem[item=' + that.attr('item') + ']').mouseenter();
                });
        });
        $('.menuitem:first').click();
        
        $('.nav2 .voltar').click(function() {
            var aberta = $('.pagina:visible');
            if (aberta.hasClass('informacoes-pessoais')) return;
            else if (aberta.hasClass('endereco')) $('.menuitem[item=informacoes-pessoais]').click();
            else if (aberta.hasClass('informacoes-contato')) $('.menuitem[item=endereco]').click();
            else if (aberta.hasClass('seguranca')) $('.menuitem[item=informacoes-contato]').click();
        });
        $('.nav2 .avancar').click(function() {
            var aberta = $('.pagina:visible');
            if (aberta.hasClass('seguranca')) return;
            else if (aberta.hasClass('informacoes-contato')) $('.menuitem[item=seguranca]').click();
            else if (aberta.hasClass('endereco')) $('.menuitem[item=informacoes-contato]').click();
            else if (aberta.hasClass('informacoes-pessoais')) $('.menuitem[item=endereco]').click();
        });

        // se iniciando, mostra termos de uso
        @if (Model.CadastroGuid != null && Model.Iniciando) {
            <text>
            showBox('.msg.termos');
            //showBox('.msg.cadastrado');
            </text>
        }

        $('.pagina.seguranca a.alterarSenha').click(function() {
            showBox('.msg.alterarSenha');
        });
    });

    var persiste = function(finalizar) {
        return $.ajax({
            url: '/Cadastro/Cadastro/Persiste', 
            type: 'post', 
            data: {
                finalizar: finalizar, 
                cadastroGuid: $('#cadastroGuid').val(), 
                upline: $('#upline').val(), 
                nome: $('#nome').val(), 
                sobrenome: $('#sobrenome').val(), 
                cpf: $('#cpf').val(), 
                rg: $('#rg').val(), 
                pisPasep: $('#pisPasep').val(), 
                dataNascimento: $('#dataNascimento').val(), 
                cep: $('#cep').val(), 
                endereco: $('#endereco').val(), 
                bairro: $('#bairro').val(), 
                complemento: $('#complemento').val(), 
                cidade: $('#cidade').val(), 
                telCelular: $('#telCelular').val(), 
                telResidencial: $('#telResidencial').val(), 
                telComercial: $('#telComercial').val(), 
                email: $('#email').val()
            }
        });
    };
}

<nav>
    <span class="menuitem" item="informacoes-pessoais"><img src="/Content/Images/precad-menu-informacoes-pessoais-off.png" /></span>
    <span class="menuitem" item="endereco"><img src="/Content/Images/precad-menu-endereco-off.png" /></span>
    <span class="menuitem" item="informacoes-contato"><img src="/Content/Images/precad-menu-informacoes-contato-off.png" /></span>
    <span class="menuitem" item="seguranca"><img src="/Content/Images/precad-menu-seguranca-off.png" /></span>
</nav>

<form class="cadastro">
<input id="cadastroGuid" type="hidden" value="@Model.CadastroGuid" />
<input id="upline" type="hidden" value="@(Model.Upline.HasValue ? Model.Upline.Value.ToString() : "")" />
<div class="pagina informacoes-pessoais" item="informacoes-pessoais">
    <div class="col esq">
        <span class="field"><label for="nome">Nome*</label><input id="nome" type="text" value="@(Model.Cadastro != null ? Model.Cadastro.Nome : "")" /></span>
        <span class="field"><label for="cpf">CPF*</label><input id="cpf" type="text" value="@(Model.Cadastro != null ? Model.Cadastro.Cpf : "")" /></span>
        <span class="field"><label for="pispasep">PIS/PASEP*</label><input id="pisPasep" type="text" value="@(Model.Cadastro != null ? Model.Cadastro.PisPasep : "")" /></span>
    </div>

    <div class="col dir">
        <span class="field"><label for="sobrenome">Sobrenome*</label><input id="sobrenome" type="text" value="@(Model.Cadastro != null ? Model.Cadastro.Sobrenome : "")" /></span>
        <span class="field"><label for="rg">RG*</label><input id="rg" type="text" value="@(Model.Cadastro != null ? Model.Cadastro.Rg : "")" /></span>
        <span class="field"><label for="datanascimento">Data de Nascimento (dd/mm/aaaa)*</label><input id="dataNascimento" type="text" value="@(Model.Cadastro != null && Model.Cadastro.DataNascimento.HasValue ? Model.Cadastro.DataNascimento.Value.ToString("dd/MM/yyyy") : "")" /></span>
    </div>
</div>
<div class="pagina endereco" item="endereco">
    <div class="col esq">
        <span class="field"><label for="cep">CEP*</label><input id="cep" type="text" value="@(Model.Cadastro != null ? Model.Cadastro.Cep : "")" /></span>
        <span class="field"><label for="bairro">Bairro*</label><input id="bairro" type="text" value="@(Model.Cadastro != null ? Model.Cadastro.Bairro : "")" /></span>
        <span class="field"><label for="cidade">Cidade*</label><input id="cidade" type="text" value="@(Model.Cadastro != null ? Model.Cadastro.Cidade : "")" /></span>
    </div>

    <div class="col dir">
        <span class="field"><label for="endereco">Endereço*</label><input id="endereco" type="text" value="@(Model.Cadastro != null ? Model.Cadastro.Endereco : "")" /></span>
        <span class="field"><label for="complemento">Complemento*</label><input id="complemento" type="text" value="@(Model.Cadastro != null ? Model.Cadastro.Complemento : "")" /></span>
    </div>
</div>
<div class="pagina informacoes-contato" item="informacoes-contato">
    <div class="col esq">
        <span class="field"><label for="telCelular">Celular*</label><input id="telCelular" type="text" value="@(Model.Cadastro != null ? Model.Cadastro.TelCelular : "")" /></span>
        <span class="field"><label for="telComercial">Telefone Trabalho*</label><input id="telComercial" type="text" value="@(Model.Cadastro != null ? Model.Cadastro.TelComercial : "")" /></span>
        <span class="field"><label for="email">E-mail*</label><input id="email" type="text" value="@(Model.Cadastro != null ? Model.Cadastro.Email : "")" /></span>
    </div>

    <div class="col dir">
        <span class="field"><label for="telResidencial">Telefone Residencial*</label><input id="telResidencial" type="text" value="@(Model.Cadastro != null ? Model.Cadastro.TelResidencial : "")" /></span>
        <span class="field"><label for="emailConfirmar">Confirmar E-mail*</label><input id="emailConfirmar" type="text" value="@(Model.Cadastro != null ? Model.Cadastro.Email : "")" /></span>
    </div>
</div>
<div class="pagina seguranca" item="seguranca">
    <p>Seu login é:<br />
    <span id="seuLogin"></span></p>
    <p>Sua senha é:<br />
    <span id="suaSenha"></span><br />
    <a class="alterarSenha">Alterar a senha</a></p>
</div>
</form>

<div class="nav2">
    <span class="left"><img class="voltar" src="/Content/Images/precad-nav-voltar.png" /></span>
    <span class="right"><img class="avancar" src="/Content/Images/precad-nav-avancar.png" /></span>
</div>

<div class="sep1"><img src="/Content/Images/precad-sep-1.png" /></div>

<div class="msg cadastrado">
    <div class="box">
        <div class="tit"><img src="/Content/Images/precad-msg-cadastrado-parabens.png" /></div>
        <p class="p1">
            O cadastro do patrocinado com efetuado com sucesso.<br />
            Para finalizar clique no botão abaixo para ser redirecionado 
            para a página de pagamento da Acathus. Após o pagamento validado, 
            enviaremos um e-mail para o seu patrocinado com o ID dele.
        </p>
        <span class="pagamento"><a href="/Cadastro/Pagamento"><img src="/Content/Images/precad-msg-cadastrado-pagamento.png" /></a></span>
    </div>
</div>

<div class="msg alterarSenha">
    <div class="box">
        <div class="tit"><img src="/Content/Images/precad-msg-alterar-senha.png" /></div>
        <div class="bl">
            <label for="">Senha antiga*</label>
            <input id="alterarSenha-senhaAntiga" type="text" />
        </div>
        <div class="bl">
            <label for="">Nova senha* (a senha deve conter no mínimo 6 caracteres)</label>
            <input id="alterarSenha-novaSenha" type="text" />
        </div>
        <div class="bl">
            <label for="">Confirmar nova senha*</label>
            <input id="alterarSenha-confirmarNovaSenha" type="text" />
        </div>

        <div class="action"><img src="/Content/Images/precad-bt-alterarsenha.png" /></div>
    </div>
</div>