@model AkayouSite.Areas.PreCadastro.Models.CadastroIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/PreCadastro/Views/Shared/_Master.cshtml";
}

@section Css {
    nav {
        height: 59px;
        width: 613px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 38px;
    }
    nav .menuitem {
        display: block;
        float: left;
        margin-left: 8px;
        margin-right: 8px;
        cursor: pointer;
    }
    .logo-akayou {
        margin-bottom: 22px;
    }
    .col {
        float: left;
        width: 305px;
        height: 240px;
        margin-left: 16px;
        margin-right: 16px;
    }
    .col.esq {
        margin-left: 98px;
    }
    .col.dir {
        margin-left: 16px;
    }
    .field {
        display: block;
        height: 80px;
    }
    .field label {
        display: block;
    }
    form.cadastro {
        height: 240px;
    }
    form.cadastro input[type=text] {
        width: 298px;
    }
    .pagina {
        display: none;
    }
    .nav2 {
        width: 630px;
        margin-left: auto;
        margin-right: auto;
        height: 90px;
    }
    .nav2 .left {
        float: left;
    }
    .nav2 .right {
        float: right;
    }
    .nav2 .voltar {
        cursor: pointer;
    }
    .nav2 .avancar {
        cursor: pointer;
    }
}

@section Script {
    $(document).ready(function() {
        // preload
        $('.menuitem').each(function() {
            var img = '/Content/Images/precad-menu-' + $(this).attr('item') + 'on.png';
            $('<img />')[0].src = img;
        });
        
        // hover
        $('.menuitem').hover(
            function() {$(this).children('img').attr('src', '/Content/Images/precad-menu-' + $(this).attr('item') + '-on.png');}, 
            function() {if ($(this).attr('item') == $('.pagina:visible').attr('item')) return; $(this).children('img').attr('src', '/Content/Images/precad-menu-' + $(this).attr('item') + '-off.png');}
        );

        // telas
        $('.menuitem').click(function() {
            persiste();
            
            $('.pagina').hide();

            $('.nav2 .voltar, .nav2 .avancar').show();
            if ($(this).attr('item') == 'informacoes-pessoais') $('.nav2 .voltar').hide();
            else if ($(this).attr('item') == 'seguranca') $('.nav2 .avancar').hide();

            $('.pagina.' + $(this).attr('item')).fadeIn('fast', function() {
                $('.pagina:visible .field input:first').focus();
            });
            
            $('.menuitem').mouseleave();
            $('.menuitem[item=' + $(this).attr('item') + ']').mouseenter();
        });
        $('.menuitem:first').click();
        
        $('.nav2 .voltar').click(function() {
            persiste();
            var aberta = $('.pagina:visible');
            if (aberta.hasClass('informacoes-pessoais')) return;
            else if (aberta.hasClass('endereco')) $('.menuitem[item=informacoes-pessoais]').click();
            else if (aberta.hasClass('informacoes-contato')) $('.menuitem[item=endereco]').click();
            else if (aberta.hasClass('seguranca')) $('.menuitem[item=informacoes-contato]').click();
        });
        $('.nav2 .avancar').click(function() {
            persiste();
            var aberta = $('.pagina:visible');
            if (aberta.hasClass('seguranca')) return;
            else if (aberta.hasClass('informacoes-contato')) $('.menuitem[item=seguranca]').click();
            else if (aberta.hasClass('endereco')) $('.menuitem[item=informacoes-contato]').click();
            else if (aberta.hasClass('informacoes-pessoais')) $('.menuitem[item=endereco]').click();
        });
    });

    var persiste = function() {
        $.ajax({
            url: '/PreCad/Cadastro/Persiste', 
            type: 'post', 
            data: {
                finalizar: false, 
                cadastroGuid: $('#cadastroGuid').val(), 
                upline: null, 
                nome: $('#nome').val(), 
                sobrenome: $('#sobrenome').val(), 
                cpf: $('#cpf').val(), 
                rg: $('#rg').val(), 
                pisPasep: $('#pisPasep').val(), 
                dataNascimento: $('#dataNascimento').val(), 
                cep: $('#cep').val(), 
                endereco: $('#endereco').val(), 
                bairro: $('#bairro').val(), 
                complemento: $('#complemento').val(), 
                cidade: $('#cidade').val(), 
                telCelular: $('#telCelular').val(), 
                telResidencial: $('#telResidencial').val(), 
                telComercial: $('#telComercial').val(), 
                email: $('#email').val()
            }
        });
    };
}

<nav>
    <span class="menuitem" item="informacoes-pessoais"><img src="/Content/Images/precad-menu-informacoes-pessoais-off.png" /></span>
    <span class="menuitem" item="endereco"><img src="/Content/Images/precad-menu-endereco-off.png" /></span>
    <span class="menuitem" item="informacoes-contato"><img src="/Content/Images/precad-menu-informacoes-contato-off.png" /></span>
    <span class="menuitem" item="seguranca"><img src="/Content/Images/precad-menu-seguranca-off.png" /></span>
</nav>

<form class="cadastro">
<input id="cadastroGuid" type="hidden" value="@Model.CadastroGuid" />
<div class="pagina informacoes-pessoais" item="informacoes-pessoais">
    <div class="col esq">
        <span class="field"><label for="nome">Nome*</label><input id="nome" type="text" value="@(Model.Cadastro != null ? Model.Cadastro.Nome : "")" /></span>
        <span class="field"><label for="cpf">CPF*</label><input id="cpf" type="text" value="@(Model.Cadastro != null ? Model.Cadastro.Cpf : "")" /></span>
        <span class="field"><label for="pispasep">PIS/PASEP*</label><input id="pisPasep" type="text" value="@(Model.Cadastro != null ? Model.Cadastro.PisPasep : "")" /></span>
    </div>

    <div class="col dir">
        <span class="field"><label for="sobrenome">Sobrenome*</label><input id="sobrenome" type="text" value="@(Model.Cadastro != null ? Model.Cadastro.Sobrenome : "")" /></span>
        <span class="field"><label for="rg">RG*</label><input id="rg" type="text" value="@(Model.Cadastro != null ? Model.Cadastro.Rg : "")" /></span>
        <span class="field"><label for="datanascimento">Data de Nascimento (dd/mm/aaaa)*</label><input id="dataNascimento" type="text" value="@(Model.Cadastro != null && Model.Cadastro.DataNascimento.HasValue ? Model.Cadastro.DataNascimento.Value.ToString("dd/MM/yyyy") : "")" /></span>
    </div>
</div>
<div class="pagina endereco" item="endereco">
    <div class="col esq">
        <span class="field"><label for="cep">CEP*</label><input id="cep" type="text" value="@(Model.Cadastro != null ? Model.Cadastro.Cep : "")" /></span>
        <span class="field"><label for="bairro">Bairro*</label><input id="bairro" type="text" value="@(Model.Cadastro != null ? Model.Cadastro.Bairro : "")" /></span>
        <span class="field"><label for="cidade">Cidade*</label><input id="cidade" type="text" value="@(Model.Cadastro != null ? Model.Cadastro.Cidade : "")" /></span>
    </div>

    <div class="col dir">
        <span class="field"><label for="endereco">Endereço*</label><input id="endereco" type="text" value="@(Model.Cadastro != null ? Model.Cadastro.Endereco : "")" /></span>
        <span class="field"><label for="complemento">Complemento*</label><input id="complemento" type="text" value="@(Model.Cadastro != null ? Model.Cadastro.Complemento : "")" /></span>
    </div>
</div>
<div class="pagina informacoes-contato" item="informacoes-contato">
    <div class="col esq">
        <span class="field"><label for="telCelular">Celular*</label><input id="telCelular" type="text" value="@(Model.Cadastro != null ? Model.Cadastro.TelCelular : "")" /></span>
        <span class="field"><label for="telComercial">Telefone Trabalho*</label><input id="telComercial" type="text" value="@(Model.Cadastro != null ? Model.Cadastro.TelComercial : "")" /></span>
        <span class="field"><label for="email">E-mail*</label><input id="email" type="text" value="@(Model.Cadastro != null ? Model.Cadastro.Email : "")" /></span>
    </div>

    <div class="col dir">
        <span class="field"><label for="telResidencial">Telefone Residencial*</label><input id="telResidencial" type="text" value="@(Model.Cadastro != null ? Model.Cadastro.TelResidencial : "")" /></span>
        <span class="field"><label for="emailConfirmar">Confirmar E-mail*</label><input id="emailConfirmar" type="text" value="@(Model.Cadastro != null ? Model.Cadastro.Email : "")" /></span>
    </div>
</div>
<div class="pagina seguranca" item="seguranca">

</div>
</form>

<div class="nav2">
    <span class="left"><img class="voltar" src="/Content/Images/precad-nav-voltar.png" /></span>
    <span class="right"><img class="avancar" src="/Content/Images/precad-nav-avancar.png" /></span>
</div>

<div class="sep1"><img src="/Content/Images/precad-sep-1.png" /></div>